<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>组件案例-评论列表</title>
    <!- 1. 导入VUE.JS包-->
    <script src="../libs/vue-dev.js"></script>

    <link rel="stylesheet" href="../css/bootstrap.css">


</head>
<body>
<!-- 将来VUE的实例会控制这个元素中的内容-->
<div id="app">
    <!--这里用一个自定义的评论小组件来实现发表评论-->
    <content-box @func="loadComments"></content-box>
    <!--列表-->
    <ul class="list-group">
        <li class="list-group-item" v-for="item in list" :key="item.id">
            <span class="badge">评论人： {{ item.user }}</span>
            {{ item.content }}
        </li>
    </ul>
</div>

<!--评论小组件-->
<template id="tmpl">
    <div>
        <div class="form-group">
            <label>评论人：</label>
            <input type="text" class="form-control" v-model="user">
        </div>

        <div class="form-group">
            <label>评论内容：</label>
            <textarea class="form-control" v-model="content"></textarea>
        </div>

        <div class="form-group">
            <input type="button" value="发表评论" class="btn btn-primary" @click="postComment">
        </div>

    </div>
</template>

<script>
    // 定义评论组件
    var commentBox = {
        template:"#tmpl",
        // 数据
        data() {
            return {
                user: '',
                content: ''
            }
        },
        methods:{
            postComment() { // 发表评论的方法
                // 分析：发表评论的业务逻辑
                // 1. 评论数据存到哪里去？？？   存放到了 localStorage 中  localStorage.setItem('cmts', '')
                // 2. 先组织出一个最新的评论数据对象
                // 3. 想办法，把 第二步中，得到的评论对象，保存到 localStorage 中：
                //  3.1 localStorage 只支持存放字符串数据， 要先调用 JSON.stringify
                //  3.2 在保存 最新的 评论数据之前，要先从 localStorage 获取到之前的评论数据（string）， 转换为 一个  数组对象， 然后，把最新的评论， push 到这个数组
                //  3.3 如果获取到的 localStorage 中的 评论字符串，为空不存在， 则  可以 返回一个 '[]'  让 JSON.parse 去转换
                //  3.4  把 最新的  评论列表数组，再次调用 JSON.stringify 转为  数组字符串，然后调用 localStorage.setItem()

                var comment = { id: Date.now(), user: this.user, content: this.content }

                // 从 localStorage 中获取所有的评论
                var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                list.unshift(comment)
                // 重新保存最新的 评论数据
                localStorage.setItem('cmts', JSON.stringify(list))

                this.user =  ""
                this.content = ""

                this.$emit('func')
            }
        }
    }
    // 2. 创建一个VUE的实例
    // 导入Vue包后，浏览器的内存中有多了一个Vue的构造函数
    var vm = new Vue({
        el: '#app',// 表示要控制页面的哪个区域,注意不能给body加个id来获取，一般是指定div
        data: { // data属性中存放el中需要的数据
            list: [
                {id: Date.now(), user: "李白", content: "天生我才必有用"},
                {id: Date.now(), user: "杜甫", content: "愿得广夏千万间"},
                {id: Date.now(), user: "白居易", content: "犹抱琵琶半遮面"}
            ]
        },
        // 生命周期方法，加载数据
        created(){
            this.loadComments()
        },
        methods: {
            loadComments() { // 从本地的 localStorage 中，加载评论列表
                var list = JSON.parse(localStorage.getItem('cmts') || '[]')
                this.list = list
            }
        },
        components: {
            // 评论小组件
           "contentBox":commentBox
        }
    });
</script>

</body>
</html>